/*basic styles for black background and crosshair cursor*/
body{
	background: #000;
	margin: 0;
	font-size: 16px;
	font-family: Verdana;
}

h1{
	pointer-events: none;
}

#message{
max-width: 60rem;
font-size: 1.5rem;
color: white;
text-align: center;
margin: 0 auto;
position: relative;

}
canvas{
	cursor: crosshair;
	display: block;
}



span{
    animation: texte 0.5s linear infinite alternate;
    vertical-align: -.5rem;

}

span:hover{
    animation: paused;
}

@keyframes texte {
    from{
        opacity: 0;
        transform: scale(2.0);
        
    }
    to{
        opacity: 1;
        transform: scale(1);
        color: #fff;
    }
    
}

#gauche {
    margin-right: 1.5rem;
    color: red;
}

#droite {
    margin-left: 1.5rem;
    color: red;
}


.birth{
    animation: texte 1.5s linear infinite alternate;
    font-size: 1.8rem;
}

.birth:hover{
    animation: paused;
}

@keyframes texte {
    from{
        opacity: 0;
        transform: scale(2.0);
        
    }
    to{
        opacity: 1;
        transform: scale(1);
        color: #fff;
    }
    
}


.wrap{
    /* contexte 3d */
    perspective: 80rem;
    /* position du cube */
    perspective-origin: 50% 10.0rem;
}
.cube{
    position: relative;
    z-index: 1;
    width: 20rem;
    transform-style: preserve-3d;
    margin: 10rem auto;
}

.cube div{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    opacity:0.8;
    box-shadow: 0 0 1rem #222;
}
div img{
    display: block;
    width: 100%;
    height: 100%;
}
/* mettre en place les face */
.back{
    transform: translateZ(-10rem) rotateY(180deg)scale(1);
    transition-duration: 0.5s;
}

.right{
    transform: rotateY(-270deg) translateX(10rem)scale(1);
    transform-origin: top right;
    transition-duration: 0.5s;
}

.left{
    transform: rotateY(270deg) translateX(-10rem)scale(1);
    transform-origin: center left;
    transition-duration: 0.5s;
}

.top{
    transform: rotateX(-90deg) translateY(-10rem);
    transform-origin: top center;
    transition-duration: 0.5s;
}

.bottom{
    
    transform: rotateX(90deg) translateY(10rem);
    transform-origin: bottom center;
}
.front{
    transform: translateZ(10rem)scale(1);
    transition-duration: 0.5s;
}




/* animation */
.cube{
    animation: spin 10s infinite linear;
}

@keyframes spin{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

.cube-stop{
    animation-play-state: paused;
    opacity: 1;
}

@media screen and (min-width: 600px) {
    .cube div {
        width: 35rem;
        height: 35rem;
    }

    .front{
        transform: translateZ(25rem)scale(1);
        transition-duration: 0.5s;
    }

    .top{
        transform: rotateX(-90deg) translateY(-25rem);
        transform-origin: top center;
        transition-duration: 0.5s;
    }
    
    .bottom{
        
        transform: rotateX(90deg) translateY(25rem);
        transform-origin: bottom center;
    }
}



